@use "base/variables" as v;
@use "base/mixins" as m;

.dashboard {
    background-color: v.$grisClaro;
    @include m.tablet {
        display: flex;
        height: 100vh;
    };
    .principal {
        flex: 1;
        overflow: scroll; // VIDEO 634 - con esto logro en la vista de un proyecto que quede fijo el sidebar de la izquierda y que se genere un scroll en la columna central si las tareas de un proyecto sobrepasan el alto de la pantalla (ya que .dashboard tiene un height de 100vh)
    }

    .contenido {
        padding: 2rem;
        .nombre-pagina {
            font-size: 2.8rem;
            text-align: center;
        }
    }

    .formulario {
        input:not([type="submit"]) {
            background-color: v.$blanco;
        } 
        input[type="submit"]{
            @include m.boton(v.$indigo, v.$blanco);
            padding: 1rem;
            font-size: 1.4rem;
            font-weight: bold;
            text-transform: uppercase;
        }
    }

    .enlace {
        font-weight: 600;
        color: v.$indigo;
        &:hover {
            color: darken(v.$indigo, 20%);
        }
    }
}