@use "base/variables" as v;
@use "base/mixins" as m;

.sidebar {
    background-color: v.$indigo;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 500ms;

    &.mostrar {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100%;
        padding: 2rem;
        opacity: 1;
        background-color: rgb(0 0 0 / .95);
        @include m.tablet {
            display: none
        };
    }
    &.ocultar {
        opacity: 0;
    }

    @include m.tablet {
        height: 100%;
        padding: 2rem;
        opacity: 1;
        background-color: v.$indigo;
    };

    .contenedor-sidebar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .cerrar-menu {
            display: flex;
            justify-content: center;
            width: 2rem;
            height: 2rem;
            img {
                &:hover{
                    cursor: pointer;
                }
            }
        }
        h2 {
            margin: 0;
            text-align: center;
            color: v.$blanco;
        }
    }

    
    .sidebar-nav {
        margin-top: 5rem;
        a {
            display: block;
            padding: .7rem;
            margin-bottom: 1.5rem;
            font-size: 1.2rem;
            font-weight: bold;
            text-transform: uppercase;
            color: v.$blanco;
            transition-property: background-color;
            transition-duration: 300ms;

            &:hover,
            &.activo {
                border-radius: .5rem;
                background-color: darken(v.$indigo, 20%);
            }
            
        }
        
    }
}
